<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- CARICO CDN VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- CARICO CDN AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.js" integrity="sha512-bYkaBWaFtfPIMYt9+CX/4DWgfrjcHinjerNYxQmQx1VM76eUsPPKZa5zWV8KksVkBF/DaHSADCwil2J5Uq2ctA==" crossorigin="anonymous"></script>
    <title></title>
  </head>
  <body>
    <div id="app">
      <h2>{{message_1}}</h2>
      <ul>
        <li v-for="mail in mailList" v-if="mailList.length == 10">{{mail}}</li>
      </ul>
      <h2>{{message_2}}</h2>
      <button type="button" name="button" v-on:click="callMail">PREMI QUI</button>
      <ul>
        <li v-for="mail in mailList2" v-if="mailList.length == 10">{{mail}}</li>
      </ul>
    </div>
    <script src="js/myscript.js" charset="utf-8"></script>
  </body>
</html>
